/*
 * Version: 2.1.1
 * File Description: Place here your custom CSS styles
 */

.navbar-light .navbar-nav .nav-link {
    padding: 28px 15px 27px 15px;
}


#header-top-second ul li a
{
    font-family: "Roboto", sans-serif !important;
    font-size: 12px;
    font-weight: 300;
    color: #366682 !important;
}